
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url("../fonts/Montserrat-Bold") format("woff2");
  font-weight:400;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url("../fonts/Montserrat-Regular") format("woff2");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url("../fonts/Roboto-Regular") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  font-display: swap;
  src: url("../fonts/ArialMT") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AGaramondPro';
  font-display: swap;
  src: url("../fonts/AGaramondPro-Bold") format("woff");
  font-weight: normal;
  font-style: normal;
}
